@media (max-width: 767px) {

    .section__header--grid {
        grid-template-columns: none;
    }
    
    .buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .hideShow {
        border: none;
        background: none;
        color: rgb(3, 133, 133);
        transition: 0.3s;
    }
    
    .hideShow:hover {
        color: rgb(9, 204, 204);
    }
    
    .hideShow:active {
        color: rgb(15, 87, 87);
    }
    
    .finishAll {
        border: none;
        background: none;
        color: rgb(3, 133, 133);
        transition: 0.3s;
    }
    
    .finishAll:hover {
        color: rgb(9, 204, 204);
    }
    
    .finishAll:active {
        color: rgb(15, 87, 87);
    }
    
    .finishAll:disabled {
        color: rgb(125, 136, 136);
    }